<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>Tativille</title> 
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head> 
<body> 
  <header>
    <h1><a href="/"><img src="/images/logo.svg" alt="Tativille"></h1>
    <a href="/README">Readme</a>
  </header> 
  <main>
    <article>
      <h2>{{ title | safe }}</h2>
      {{ content | safe }}
    </article>
  </main>
  <footer>
    😻
  </footer>
</body> 
</html>